/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #101010;
    color: #eee;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(90deg, #ff007c, #00ffd5);
    color: #000;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 20px;
    margin-top: 10px;
}

/* SEÇÕES */
section {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #ff007c;
}

/* FORMAÇÃO */
.curso {
    margin-bottom: 30px;
    background: #1b1b1b;
    padding: 25px;
    border-left: 5px solid #ff007c;
    border-radius: 8px;
}

.curso h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.data {
    font-size: 14px;
    opacity: 0.7;
}

/* SKILLS */
.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    margin-top: 20px;
}

.skills li {
    background: #ff007c33;
    border: 1px solid #ff007c;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 16px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    margin-top: 60px;
    border-top: 1px solid #333;
    opacity: .7;
}
